<h2><%= @user.id %>'s popular tweets</h2>
<ul>
<%- @tweets.each do |tweet| -%>
  <li><%= link_to tweet.user.id, user_path(tweet.user.id) %> <%= tweet.text %>
  <span><%= link_to datef(tweet.created_at), user_statu_path(tweet.user.id, tweet.id) %>
    via <%= tweet.source %>
    (<%= pluralize(tweet.stars, 'person', 'people') %> liked this)
  </span>
  </li>
<%- end -%>
</ul>
<%- content_for :sidebar do -%>
  <%= render :partial => 'users/sidebar', :locals => {:user => @user} %>
<%- end -%>
