<h2><%= @user.id %>'s favorites</h2>
<ul>
<%- @tweets.each do |t| -%>
  <li><%= link_to t.user_id, user_path(t.user_id) %> <%= t.text %>
  <span><%= link_to datef(t.created_at), user_statu_path(t.user_id, t.id) %>
    via <%= t.source %></span>
  </li>
<%- end -%>
</ul>
<%- content_for :sidebar do -%>
  <%= render :partial => 'users/sidebar', :locals => {:user => @user} %>
<%- end -%>