<h2 id="user-title"><%= @user.id %></h2>
<ul id="tweets">
<%- @tweets.each do |t| -%>
  <li><%= t.text %>
  <span><%= link_to datef(t.created_at), user_statu_path(@user.id, t.id) %> via <%= t.source %></span>
  </li>
<%- end -%>
</ul>

<%- content_for :sidebar do -%>
  <%= render :partial => 'sidebar', :locals => {:user => @user} %>
<%- end -%>
