<form id="tweet-form" action="<%= user_status_index_path(@current_user.id) %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"/>
  <h2>What's happening?</h2>
  <textarea id="status-text" name="status"></textarea>
  <input type="submit" value="Tweet"/>
</form>
<ul>
<%- @tweets.each do |t| -%>
  <li><%= link_to t.user_id, user_path(t.user_id) %> <%= h t.text %>
  <span><%= link_to datef(t.created_at),
              user_status_path(t.user_id, t.id) %>
    via <%= h t.source %></span>
  </li>
<%- end -%>
</ul>

<%- content_for :sidebar do -%>
  <div id="current-user-info">
  <h3><a title="<%= @current_user.name %>" href="<%= user_path(@current_user.id) %>"><%= @current_user.id %>
    <span id="tweet-count"><%= @tweet_count %> tweets</span>
  </a>
  </h3>
  </div>
  <%= render :partial => 'users/sidebar', :locals => {:user => @current_user, :info_off => true} %>
<%- end -%>
