<h2><%= @user.id %>'s <%= pluralize(@follower_count, 'follower') %></h2>
<ul>
<%- @followers.each do |f| -%>
  <li>
    <%= f.name %> <%= link_to "@#{f.id}", user_path(f.id) %>
    <p><%= f.bio %></p>
  </li>
<%- end -%>
</ul>
<%- content_for :sidebar do -%>
  <%= render :partial => 'users/sidebar', :locals => {:user => @user} %>
<%- end -%>
