<% @sidebar_off = true %>
<p id="tweet-text"><%= @tweet.text %></p>
<p id="tweet-date">
<%= datef(@tweet.created_at) %>
(<%= pluralize(@favorite_count, 'person', 'people') %> liked this)
</p>

<div id="tweet-author">
  <%= link_to @user.id, user_path(@user.id) %>
  <%= @user.name %>
</div>
