<!DOCTYPE html>
<html>
<head>
  <title>CouchTweet</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body <%= @sidebar_off ? 'class="narrow"'.html_safe : '' %>>
<h1><%= link_to image_tag('logo.png'), root_path %></h1>
<ul id="nav">
  <li><%= link_to 'Home', root_path %></li>
  <%- if @current_user -%>
    <li><%= link_to 'Profile', user_path(@current_user.id) %></li>
    <li><%= link_to 'Sign out', logout_path %></li>
  <%- else -%>
    <li><%= link_to 'Sign in', new_session_path %></li>
  <%- end -%>
</ul>
<div id="content">
  <%= yield %>
  <%- unless @sidebar_off -%>
    <div id="sidebar">
      <div id="sidebar-container">
        <%= yield :sidebar %>
      </div>
    </div>
  <%- end -%>
</div>
<div id="footer">
  <p>
  An example <a href="https://couchdb.apache.org/">Apache CouchDB</a> app,
  using <a href="https://twitter.com/">Twitter</a>'s data model.
  Source code is available at <a href="https://github.com/dgraham/couchtweet">GitHub</a>.
  </p>
</div>
</body>
</html>
